openapi: 3.0.3
info:
  title: Notion API
  description: >-
    Notion is a new tool that blends your everyday work apps into one. It's the
    all-in-one workspace for you and your team.
  version: '1'
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - url: https://api.notion.com
tags:
  - name: Block
  - name: Page
  - name: Database
  - name: User
  - name: Comment
  - name: Token
  - name: Search
paths:
  /v1/oauth/token:
    post:
      tags:
        - Token
      summary: Create a token
      operationId: Token_generateAccess
      description: >-
        Creates an access token that a third-party service can use to
        authenticate with Notion.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenGenerateAccessRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "access_token": "e202e8c9-0990-40af-855f-ff8f872b1ec6c",
                      "bot_id": "b3414d659-1224-5ty7-6ffr-cc9d8773drt601288f",
                      "duplicated_template_id": null,
                      "owner": {
                        "workspace": true
                      },
                      "workspace_icon": "https://website.domain/images/image.png",
                      "workspace_id": "j565j4d7x3-2882-61bs-564a-jj9d9ui-c36hxfr7x",
                      "workspace_name": "Ada's Notion Workspace"
                    }
              schema:
                $ref: '#/components/schemas/TokenGenerateAccessResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": "invalid_request",
                        "error_description": "body failed validation: body.redirect_uri should be defined, instead was `undefined`."
                    }
              schema:
                $ref: '#/components/schemas/TokenGenerateAccess400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: >-
              curl --location --request POST
              'https://api.notion.com/v1/oauth/token' \

              --header 'Authorization: Basic '"$BASE64_ENCODED_ID_AND_SECRET"''
              \

              --header 'Content-Type: application/json' \

              --header 'Notion-Version: 2022-06-28' \

              --data '{
                "grant_type": "authorization_code",
                "code": "e202e8c9-0990-40af-855f-ff8f872b1ec6",
                "redirect_uri": "https://wwww.my-integration-endpoint.dev/callback",
                 "external_account": {
                      "key": "A83823453409384",
                      "name": "Notion - team@makenotion.com"
                  }
              }'
            name: Create a token for a Link Preview
          - language: curl
            code: "curl --location --request POST 'https://api.notion.com/v1/databases/' \\\n--header 'Authorization: Bearer '\"$NOTION_API_KEY\"'' \\\n--header 'Content-Type: application/json' \\\n--header 'Notion-Version: 2022-06-28' \\\n--data '{\n\t\"grant_type\": \"authorization_code\",\n  \"code\": \"e202e8c9-0990-40af-855f-ff8f872b1ec6\",\n  \"redirect_uri\": \"https://example.com/auth/notion/callback\"\n}'"
            name: Create a token for a public integration
        samples-languages:
          - curl
  /v1/blocks/{block_id}/children:
    patch:
      tags:
        - Block
      summary: Append block children
      operationId: Block_appendChildren
      security: []
      description: ''
      parameters:
        - description: >-
            Identifier for a [block](ref:block). Also accepts a [page](ref:page)
            ID.
          name: block_id
          in: path
          schema:
            type: string
          required: true
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockAppendChildrenRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"object\": \"list\",\n\t\"results\": [\n\t\t{\n\t\t\t\"object\": \"block\",\n\t\t\t\"id\": \"c02fc1d3-db8b-45c5-a222-27595b15aea7\",\n\t\t\t\"parent\": {\n\t\t\t\t\"type\": \"page_id\",\n\t\t\t\t\"page_id\": \"59833787-2cf9-4fdf-8782-e53db20768a5\"\n\t\t\t},\n\t\t\t\"created_time\": \"2022-03-01T19:05:00.000Z\",\n\t\t\t\"last_edited_time\": \"2022-07-06T19:41:00.000Z\",\n\t\t\t\"created_by\": {\n\t\t\t\t\"object\": \"user\",\n\t\t\t\t\"id\": \"ee5f0f84-409a-440f-983a-a5315961c6e4\"\n\t\t\t},\n\t\t\t\"last_edited_by\": {\n\t\t\t\t\"object\": \"user\",\n\t\t\t\t\"id\": \"ee5f0f84-409a-440f-983a-a5315961c6e4\"\n\t\t\t},\n\t\t\t\"has_children\": false,\n\t\t\t\"archived\": false,\n\t\t\t\"type\": \"heading_2\",\n\t\t\t\"heading_2\": {\n\t\t\t\t\"rich_text\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\"content\": \"Lacinato kale\",\n\t\t\t\t\t\t\t\"link\": null\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"annotations\": {\n\t\t\t\t\t\t\t\"bold\": false,\n\t\t\t\t\t\t\t\"italic\": false,\n\t\t\t\t\t\t\t\"strikethrough\": false,\n\t\t\t\t\t\t\t\"underline\": false,\n\t\t\t\t\t\t\t\"code\": false,\n\t\t\t\t\t\t\t\"color\": \"default\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"plain_text\": \"Lacinato kale\",\n\t\t\t\t\t\t\"href\": null\n\t\t\t\t\t}\n\t\t\t\t],\n\t\t\t\t\"color\": \"default\",\n        \"is_toggleable\": false\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"object\": \"block\",\n\t\t\t\"id\": \"acc7eb06-05cd-4603-a384-5e1e4f1f4e72\",\n\t\t\t\"parent\": {\n\t\t\t\t\"type\": \"page_id\",\n\t\t\t\t\"page_id\": \"59833787-2cf9-4fdf-8782-e53db20768a5\"\n\t\t\t},\n\t\t\t\"created_time\": \"2022-03-01T19:05:00.000Z\",\n\t\t\t\"last_edited_time\": \"2022-07-06T19:51:00.000Z\",\n\t\t\t\"created_by\": {\n\t\t\t\t\"object\": \"user\",\n\t\t\t\t\"id\": \"ee5f0f84-409a-440f-983a-a5315961c6e4\"\n\t\t\t},\n\t\t\t\"last_edited_by\": {\n\t\t\t\t\"object\": \"user\",\n\t\t\t\t\"id\": \"0c3e9826-b8f7-4f73-927d-2caaf86f1103\"\n\t\t\t},\n\t\t\t\"has_children\": false,\n\t\t\t\"archived\": false,\n\t\t\t\"type\": \"paragraph\",\n\t\t\t\"paragraph\": {\n\t\t\t\t\"rich_text\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\"content\": \"Lacinato kale is a variety of kale with a long tradition in Italian cuisine, especially that of Tuscany. It is also known as Tuscan kale, Italian kale, dinosaur kale, kale, flat back kale, palm tree kale, or black Tuscan palm.\",\n\t\t\t\t\t\t\t\"link\": {\n\t\t\t\t\t\t\t\t\"url\": \"https://en.wikipedia.org/wiki/Lacinato_kale\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"annotations\": {\n\t\t\t\t\t\t\t\"bold\": false,\n\t\t\t\t\t\t\t\"italic\": false,\n\t\t\t\t\t\t\t\"strikethrough\": false,\n\t\t\t\t\t\t\t\"underline\": false,\n\t\t\t\t\t\t\t\"code\": false,\n\t\t\t\t\t\t\t\"color\": \"default\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"plain_text\": \"Lacinato kale is a variety of kale with a long tradition in Italian cuisine, especially that of Tuscany. It is also known as Tuscan kale, Italian kale, dinosaur kale, kale, flat back kale, palm tree kale, or black Tuscan palm.\",\n\t\t\t\t\t\t\"href\": \"https://en.wikipedia.org/wiki/Lacinato_kale\"\n\t\t\t\t\t}\n\t\t\t\t],\n\t\t\t\t\"color\": \"default\"\n\t\t\t}\n\t\t}\n\t],\n\t\"next_cursor\": null,\n\t\"has_more\": false,\n\t\"type\": \"block\",\n\t\"block\": {}\n}"
              schema:
                $ref: '#/components/schemas/BlockAppendChildrenResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/BlockAppendChildren400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              const { Client } = require('@notionhq/client');

              const notion = new Client({ auth: process.env.NOTION_API_KEY });

              (async () => {
                const blockId = 'b55c9c91-384d-452b-81db-d1ef79372b75';
                const response = await notion.blocks.children.append({
                  block_id: blockId,
                  children: [
                    {
                      "heading_2": {
                        "rich_text": [
                          {
                            "text": {
                              "content": "Lacinato kale"
                            }
                          }
                        ]
                      }
                    },
                    {
                      "paragraph": {
                        "rich_text": [
                          {
                            "text": {
                              "content": "Lacinato kale is a variety of kale with a long tradition in Italian cuisine, especially that of Tuscany. It is also known as Tuscan kale, Italian kale, dinosaur kale, kale, flat back kale, palm tree kale, or black Tuscan palm.",
                              "link": {
                                "url": "https://en.wikipedia.org/wiki/Lacinato_kale"
                              }
                            }
                          }
                        ]
                      }
                    }
                  ],
                });
                console.log(response);
              })();
            name: Notion SDK for JavaScript
          - language: curl
            code: "curl -X PATCH 'https://api.notion.com/v1/blocks/b55c9c91-384d-452b-81db-d1ef79372b75/children' \\\n  -H 'Authorization: Bearer '\"$NOTION_API_KEY\"'' \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Notion-Version: 2022-06-28\" \\\n  --data '{\n\t\"children\": [\n\t\t{\n\t\t\t\"object\": \"block\",\n\t\t\t\"type\": \"heading_2\",\n\t\t\t\"heading_2\": {\n\t\t\t\t\"rich_text\": [{ \"type\": \"text\", \"text\": { \"content\": \"Lacinato kale\" } }]\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"object\": \"block\",\n\t\t\t\"type\": \"paragraph\",\n\t\t\t\"paragraph\": {\n\t\t\t\t\"rich_text\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\"content\": \"Lacinato kale is a variety of kale with a long tradition in Italian cuisine, especially that of Tuscany. It is also known as Tuscan kale, Italian kale, dinosaur kale, kale, flat back kale, palm tree kale, or black Tuscan palm.\",\n\t\t\t\t\t\t\t\"link\": { \"url\": \"https://en.wikipedia.org/wiki/Lacinato_kale\" }\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t]\n}'"
        samples-languages:
          - javascript
          - curl
    get:
      tags:
        - Block
      summary: Retrieve block children
      operationId: Block_getChildren
      security: []
      description: ''
      parameters:
        - description: Identifier for a [block](ref:block)
          name: block_id
          in: path
          schema:
            type: string
          required: true
        - description: >-
            If supplied, this endpoint will return a page of results starting
            after the cursor provided. If not supplied, this endpoint will
            return the first page of results.
          name: start_cursor
          in: query
          schema:
            type: string
        - description: >-
            The number of items from the full list desired in the response.
            Maximum: 100
          name: page_size
          in: query
          schema:
            type: integer
            format: int32
            default: 100
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"object\": \"list\",\n\t\"results\": [\n\t\t{\n\t\t\t\"object\": \"block\",\n\t\t\t\"id\": \"c02fc1d3-db8b-45c5-a222-27595b15aea7\",\n\t\t\t\"parent\": {\n\t\t\t\t\"type\": \"page_id\",\n\t\t\t\t\"page_id\": \"59833787-2cf9-4fdf-8782-e53db20768a5\"\n\t\t\t},\n\t\t\t\"created_time\": \"2022-03-01T19:05:00.000Z\",\n\t\t\t\"last_edited_time\": \"2022-03-01T19:05:00.000Z\",\n\t\t\t\"created_by\": {\n\t\t\t\t\"object\": \"user\",\n\t\t\t\t\"id\": \"ee5f0f84-409a-440f-983a-a5315961c6e4\"\n\t\t\t},\n\t\t\t\"last_edited_by\": {\n\t\t\t\t\"object\": \"user\",\n\t\t\t\t\"id\": \"ee5f0f84-409a-440f-983a-a5315961c6e4\"\n\t\t\t},\n\t\t\t\"has_children\": false,\n\t\t\t\"archived\": false,\n\t\t\t\"type\": \"heading_2\",\n\t\t\t\"heading_2\": {\n\t\t\t\t\"rich_text\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\"content\": \"Lacinato kale\",\n\t\t\t\t\t\t\t\"link\": null\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"annotations\": {\n\t\t\t\t\t\t\t\"bold\": false,\n\t\t\t\t\t\t\t\"italic\": false,\n\t\t\t\t\t\t\t\"strikethrough\": false,\n\t\t\t\t\t\t\t\"underline\": false,\n\t\t\t\t\t\t\t\"code\": false,\n\t\t\t\t\t\t\t\"color\": \"default\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"plain_text\": \"Lacinato kale\",\n\t\t\t\t\t\t\"href\": null\n\t\t\t\t\t}\n\t\t\t\t],\n\t\t\t\t\"color\": \"default\",\n        \"is_toggleable\": false\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"object\": \"block\",\n\t\t\t\"id\": \"acc7eb06-05cd-4603-a384-5e1e4f1f4e72\",\n\t\t\t\"parent\": {\n\t\t\t\t\"type\": \"page_id\",\n\t\t\t\t\"page_id\": \"59833787-2cf9-4fdf-8782-e53db20768a5\"\n\t\t\t},\n\t\t\t\"created_time\": \"2022-03-01T19:05:00.000Z\",\n\t\t\t\"last_edited_time\": \"2022-03-01T19:05:00.000Z\",\n\t\t\t\"created_by\": {\n\t\t\t\t\"object\": \"user\",\n\t\t\t\t\"id\": \"ee5f0f84-409a-440f-983a-a5315961c6e4\"\n\t\t\t},\n\t\t\t\"last_edited_by\": {\n\t\t\t\t\"object\": \"user\",\n\t\t\t\t\"id\": \"ee5f0f84-409a-440f-983a-a5315961c6e4\"\n\t\t\t},\n\t\t\t\"has_children\": false,\n\t\t\t\"archived\": false,\n\t\t\t\"type\": \"paragraph\",\n\t\t\t\"paragraph\": {\n\t\t\t\t\"rich_text\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\"content\": \"Lacinato kale is a variety of kale with a long tradition in Italian cuisine, especially that of Tuscany. It is also known as Tuscan kale, Italian kale, dinosaur kale, kale, flat back kale, palm tree kale, or black Tuscan palm.\",\n\t\t\t\t\t\t\t\"link\": {\n\t\t\t\t\t\t\t\t\"url\": \"https://en.wikipedia.org/wiki/Lacinato_kale\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"annotations\": {\n\t\t\t\t\t\t\t\"bold\": false,\n\t\t\t\t\t\t\t\"italic\": false,\n\t\t\t\t\t\t\t\"strikethrough\": false,\n\t\t\t\t\t\t\t\"underline\": false,\n\t\t\t\t\t\t\t\"code\": false,\n\t\t\t\t\t\t\t\"color\": \"default\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"plain_text\": \"Lacinato kale is a variety of kale with a long tradition in Italian cuisine, especially that of Tuscany. It is also known as Tuscan kale, Italian kale, dinosaur kale, kale, flat back kale, palm tree kale, or black Tuscan palm.\",\n\t\t\t\t\t\t\"href\": \"https://en.wikipedia.org/wiki/Lacinato_kale\"\n\t\t\t\t\t}\n\t\t\t\t],\n\t\t\t\t\"color\": \"default\"\n\t\t\t}\n\t\t}\n\t],\n\t\"next_cursor\": null,\n\t\"has_more\": false,\n\t\"type\": \"block\",\n\t\"block\": {}\n}"
              schema:
                $ref: '#/components/schemas/BlockGetChildrenResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/BlockGetChildren400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              const { Client } = require('@notionhq/client');

              const notion = new Client({ auth: process.env.NOTION_API_KEY });

              (async () => {
                const blockId = '59833787-2cf9-4fdf-8782-e53db20768a5';
                const response = await notion.blocks.children.list({
                  block_id: blockId,
                  page_size: 50,
                });
                console.log(response);
              })();
            name: Notion SDK for JavaScript
          - language: curl
            code: >-
              curl
              'https://api.notion.com/v1/blocks/b55c9c91-384d-452b-81db-d1ef79372b75/children?page_size=100'
              \
                -H 'Authorization: Bearer '"$NOTION_API_KEY"'' \
                -H "Notion-Version: 2022-06-28"
        samples-languages:
          - javascript
          - curl
  /v1/blocks/{block_id}:
    get:
      tags:
        - Block
      summary: Retrieve a block
      operationId: Block_getDetails
      security: []
      description: ''
      parameters:
        - description: Identifier for a Notion block
          name: block_id
          in: path
          schema:
            type: string
          required: true
        - name: Notion-Version
          in: header
          schema:
            type: string
            default: '2022-06-28'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"object\": \"block\",\n\t\"id\": \"c02fc1d3-db8b-45c5-a222-27595b15aea7\",\n\t\"parent\": {\n\t\t\"type\": \"page_id\",\n\t\t\"page_id\": \"59833787-2cf9-4fdf-8782-e53db20768a5\"\n\t},\n\t\"created_time\": \"2022-03-01T19:05:00.000Z\",\n\t\"last_edited_time\": \"2022-03-01T19:05:00.000Z\",\n\t\"created_by\": {\n\t\t\"object\": \"user\",\n\t\t\"id\": \"ee5f0f84-409a-440f-983a-a5315961c6e4\"\n\t},\n\t\"last_edited_by\": {\n\t\t\"object\": \"user\",\n\t\t\"id\": \"ee5f0f84-409a-440f-983a-a5315961c6e4\"\n\t},\n\t\"has_children\": false,\n\t\"archived\": false,\n\t\"type\": \"heading_2\",\n\t\"heading_2\": {\n\t\t\"rich_text\": [\n\t\t\t{\n\t\t\t\t\"type\": \"text\",\n\t\t\t\t\"text\": {\n\t\t\t\t\t\"content\": \"Lacinato kale\",\n\t\t\t\t\t\"link\": null\n\t\t\t\t},\n\t\t\t\t\"annotations\": {\n\t\t\t\t\t\"bold\": false,\n\t\t\t\t\t\"italic\": false,\n\t\t\t\t\t\"strikethrough\": false,\n\t\t\t\t\t\"underline\": false,\n\t\t\t\t\t\"code\": false,\n\t\t\t\t\t\"color\": \"default\"\n\t\t\t\t},\n\t\t\t\t\"plain_text\": \"Lacinato kale\",\n\t\t\t\t\"href\": null\n\t\t\t}\n\t\t],\n\t\t\"color\": \"default\",\n    \"is_toggleable\": false\n\t}\n}"
              schema:
                $ref: '#/components/schemas/BlockGetDetailsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/BlockGetDetails400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              const { Client } = require('@notionhq/client');

              const notion = new Client({ auth: process.env.NOTION_API_KEY });

              (async () => {
                const blockId = 'c02fc1d3-db8b-45c5-a222-27595b15aea7';
                const response = await notion.blocks.retrieve({
                  block_id: blockId,
                });
                console.log(response);
              })();
            name: Notion SDK for JavaScript
          - language: curl
            code: >-
              curl
              'https://api.notion.com/v1/blocks/0c940186-ab70-4351-bb34-2d16f0635d49'
              \
                -H 'Authorization: Bearer '"$NOTION_API_KEY"'' \
                -H 'Notion-Version: 2022-06-28'
        samples-languages:
          - javascript
          - curl
    patch:
      tags:
        - Block
      summary: Update a block
      operationId: Block_updateBlockById
      security: []
      description: ''
      parameters:
        - description: Identifier for a Notion block
          name: block_id
          in: path
          schema:
            type: string
          required: true
        - name: Notion-Version
          in: header
          schema:
            type: string
            default: '2022-06-28'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockUpdateBlockByIdRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"object\": \"block\",\n\t\"id\": \"c02fc1d3-db8b-45c5-a222-27595b15aea7\",\n\t\"parent\": {\n\t\t\"type\": \"page_id\",\n\t\t\"page_id\": \"59833787-2cf9-4fdf-8782-e53db20768a5\"\n\t},\n\t\"created_time\": \"2022-03-01T19:05:00.000Z\",\n\t\"last_edited_time\": \"2022-07-06T19:41:00.000Z\",\n\t\"created_by\": {\n\t\t\"object\": \"user\",\n\t\t\"id\": \"ee5f0f84-409a-440f-983a-a5315961c6e4\"\n\t},\n\t\"last_edited_by\": {\n\t\t\"object\": \"user\",\n\t\t\"id\": \"ee5f0f84-409a-440f-983a-a5315961c6e4\"\n\t},\n\t\"has_children\": false,\n\t\"archived\": false,\n\t\"type\": \"heading_2\",\n\t\"heading_2\": {\n\t\t\"rich_text\": [\n\t\t\t{\n\t\t\t\t\"type\": \"text\",\n\t\t\t\t\"text\": {\n\t\t\t\t\t\"content\": \"Lacinato kale\",\n\t\t\t\t\t\"link\": null\n\t\t\t\t},\n\t\t\t\t\"annotations\": {\n\t\t\t\t\t\"bold\": false,\n\t\t\t\t\t\"italic\": false,\n\t\t\t\t\t\"strikethrough\": false,\n\t\t\t\t\t\"underline\": false,\n\t\t\t\t\t\"code\": false,\n\t\t\t\t\t\"color\": \"green\"\n\t\t\t\t},\n\t\t\t\t\"plain_text\": \"Lacinato kale\",\n\t\t\t\t\"href\": null\n\t\t\t}\n\t\t],\n\t\t\"color\": \"default\",\n    \"is_toggleable\": false\n\t}\n}"
              schema:
                $ref: '#/components/schemas/BlockUpdateBlockByIdResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/BlockUpdateBlockById400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: "const { Client } = require('@notionhq/client');\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY });\n\n(async () => {\n  const blockId = '9bc30ad4-9373-46a5-84ab-0a7845ee52e6';\n  const response = await notion.blocks.update({\n\t\"block_id\": blockId,\n\t\"heading_2\": {\n\t\t\"rich_text\": [\n\t\t\t{\n\t\t\t\t\"text\": {\n\t\t\t\t\t\"content\": \"Lacinato kale\"\n\t\t\t\t},\n\t\t\t\t\"annotations\": {\n\t\t\t\t\t\"color\": \"green\"\n\t\t\t\t}\n\t\t\t}\n\t\t]\n\t}\n});\n  console.log(response);\n})();"
            name: Notion SDK for JavaScript
          - language: curl
            code: >-
              curl
              https://api.notion.com/v1/blocks/9bc30ad4-9373-46a5-84ab-0a7845ee52e6
              \
                -H 'Authorization: Bearer '"$NOTION_API_KEY"'' \
                -H "Content-Type: application/json" \
                -H "Notion-Version: 2022-06-28" \
                -X PATCH \
                --data '{
                "to_do": {
                  "rich_text": [{ 
                    "text": { "content": "Lacinato kale" } 
                    }],
                  "checked": false
                }
              }'
        samples-languages:
          - javascript
          - curl
    delete:
      tags:
        - Block
      summary: Delete a block
      operationId: Block_removeBlockById
      security: []
      description: ''
      parameters:
        - description: Identifier for a Notion block
          name: block_id
          in: path
          schema:
            type: string
          required: true
        - name: Notion-Version
          in: header
          schema:
            type: string
            default: '2022-06-28'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"object\": \"block\",\n\t\"id\": \"7985540b-2e77-4ac6-8615-c3047e36f872\",\n\t\"parent\": {\n\t\t\"type\": \"page_id\",\n\t\t\"page_id\": \"59833787-2cf9-4fdf-8782-e53db20768a5\"\n\t},\n\t\"created_time\": \"2022-07-06T19:52:00.000Z\",\n\t\"last_edited_time\": \"2022-07-06T19:52:00.000Z\",\n\t\"created_by\": {\n\t\t\"object\": \"user\",\n\t\t\"id\": \"0c3e9826-b8f7-4f73-927d-2caaf86f1103\"\n\t},\n\t\"last_edited_by\": {\n\t\t\"object\": \"user\",\n\t\t\"id\": \"ee5f0f84-409a-440f-983a-a5315961c6e4\"\n\t},\n\t\"has_children\": false,\n\t\"archived\": true,\n\t\"type\": \"paragraph\",\n\t\"paragraph\": {\n\t\t\"rich_text\": [],\n\t\t\"color\": \"default\"\n\t}\n}"
              schema:
                $ref: '#/components/schemas/BlockRemoveBlockByIdResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/BlockRemoveBlockById400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              const { Client } = require('@notionhq/client');

              const notion = new Client({ auth: process.env.NOTION_API_KEY });

              (async () => {
                const blockId = '7985540b-2e77-4ac6-8615-c3047e36f872';
                const response = await notion.blocks.delete({
                  block_id: blockId,
                });
                console.log(response);
              })();
            name: Notion SDK for JavaScript
          - language: curl
            code: >-
              curl -X DELETE
              'https://api.notion.com/v1/blocks/9bc30ad4-9373-46a5-84ab-0a7845ee52e6'
              \
                -H 'Authorization: Bearer '"$NOTION_API_KEY"'' \
                -H 'Notion-Version: 2022-06-28'
        samples-languages:
          - javascript
          - curl
  /v1/pages:
    post:
      tags:
        - Page
      summary: Create a page
      operationId: Page_createNewPage
      security: []
      description: ''
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageCreateNewPageRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "object": "page",
                      "id": "59833787-2cf9-4fdf-8782-e53db20768a5",
                      "created_time": "2022-03-01T19:05:00.000Z",
                      "last_edited_time": "2022-07-06T19:16:00.000Z",
                      "created_by": {
                        "object": "user",
                        "id": "ee5f0f84-409a-440f-983a-a5315961c6e4"
                      },
                      "last_edited_by": {
                        "object": "user",
                        "id": "ee5f0f84-409a-440f-983a-a5315961c6e4"
                      },
                      "cover": {
                        "type": "external",
                        "external": {
                          "url": "https://upload.wikimedia.org/wikipedia/commons/6/62/Tuscankale.jpg"
                        }
                      },
                      "icon": {
                        "type": "emoji",
                        "emoji": "🥬"
                      },
                      "parent": {
                        "type": "database_id",
                        "database_id": "d9824bdc-8445-4327-be8b-5b47500af6ce"
                      },
                      "archived": false,
                      "properties": {
                        "Store availability": {
                          "id": "%3AUPp"
                        },
                        "Food group": {
                          "id": "A%40Hk"
                        },
                        "Price": {
                          "id": "BJXS"
                        },
                        "Responsible Person": {
                          "id": "Iowm"
                        },
                        "Last ordered": {
                          "id": "Jsfb"
                        },
                        "Cost of next trip": {
                          "id": "WOd%3B"
                        },
                        "Recipes": {
                          "id": "YfIu"
                        },
                        "Description": {
                          "id": "_Tc_"
                        },
                        "In stock": {
                          "id": "%60%5Bq%3F"
                        },
                        "Number of meals": {
                          "id": "zag~"
                        },
                        "Photo": {
                          "id": "%7DF_L"
                        },
                        "Name": {
                          "id": "title"
                        }
                      },
                      "url": "https://www.notion.so/Tuscan-Kale-598337872cf94fdf8782e53db20768a5"
                    }
              schema:
                $ref: '#/components/schemas/PageCreateNewPageResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/PageCreateNewPage400Response'
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "object": "error",
                        "status": 404,
                        "code": "object_not_found",
                        "message": "Could not find page with ID: 4cc3b486-0b48-4cfe-8ce9-67c47100eb6a. Make sure the relevant pages and databases are shared with your integration."
                    }
              schema:
                $ref: '#/components/schemas/PageCreateNewPage404Response'
        '429':
          description: '429'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "object": "error",
                      "status": 429,
                      "code": "rate_limited",
                      "message": "You have been rate limited. Please try again in a few minutes."
                    }
              schema:
                $ref: '#/components/schemas/PageCreateNewPage429Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              const { Client } = require('@notionhq/client');

              const notion = new Client({ auth: process.env.NOTION_API_KEY });

              (async () => {
                const response = await notion.pages.create({
                  "cover": {
                      "type": "external",
                      "external": {
                          "url": "https://upload.wikimedia.org/wikipedia/commons/6/62/Tuscankale.jpg"
                      }
                  },
                  "icon": {
                      "type": "emoji",
                      "emoji": "🥬"
                  },
                  "parent": {
                      "type": "database_id",
                      "database_id": "d9824bdc-8445-4327-be8b-5b47500af6ce"
                  },
                  "properties": {
                      "Name": {
                          "title": [
                              {
                                  "text": {
                                      "content": "Tuscan kale"
                                  }
                              }
                          ]
                      },
                      "Description": {
                          "rich_text": [
                              {
                                  "text": {
                                      "content": "A dark green leafy vegetable"
                                  }
                              }
                          ]
                      },
                      "Food group": {
                          "select": {
                              "name": "🥬 Vegetable"
                          }
                      }
                  },
                  "children": [
                      {
                          "object": "block",
                          "heading_2": {
                              "rich_text": [
                                  {
                                      "text": {
                                          "content": "Lacinato kale"
                                      }
                                  }
                              ]
                          }
                      },
                      {
                          "object": "block",
                          "paragraph": {
                              "rich_text": [
                                  {
                                      "text": {
                                          "content": "Lacinato kale is a variety of kale with a long tradition in Italian cuisine, especially that of Tuscany. It is also known as Tuscan kale, Italian kale, dinosaur kale, kale, flat back kale, palm tree kale, or black Tuscan palm.",
                                          "link": {
                                              "url": "https://en.wikipedia.org/wiki/Lacinato_kale"
                                          }
                                      },
                                      "href": "https://en.wikipedia.org/wiki/Lacinato_kale"
                                  }
                              ],
                              "color": "default"
                          }
                      }
                  ]
              });
                console.log(response);
              })();
            name: Notion SDK for JavaScript
          - language: curl
            code: "curl 'https://api.notion.com/v1/pages' \\\n  -H 'Authorization: Bearer '\"$NOTION_API_KEY\"'' \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Notion-Version: 2022-06-28\" \\\n  --data '{\n\t\"parent\": { \"database_id\": \"d9824bdc84454327be8b5b47500af6ce\" },\n  \"icon\": {\n  \t\"emoji\": \"🥬\"\n  },\n\t\"cover\": {\n\t\t\"external\": {\n\t\t\t\"url\": \"https://upload.wikimedia.org/wikipedia/commons/6/62/Tuscankale.jpg\"\n\t\t}\n\t},\n\t\"properties\": {\n\t\t\"Name\": {\n\t\t\t\"title\": [\n\t\t\t\t{\n\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\"content\": \"Tuscan Kale\"\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t\"Description\": {\n\t\t\t\"rich_text\": [\n\t\t\t\t{\n\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\"content\": \"A dark green leafy vegetable\"\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t\"Food group\": {\n\t\t\t\"select\": {\n\t\t\t\t\"name\": \"Vegetable\"\n\t\t\t}\n\t\t},\n\t\t\"Price\": { \"number\": 2.5 }\n\t},\n\t\"children\": [\n\t\t{\n\t\t\t\"object\": \"block\",\n\t\t\t\"type\": \"heading_2\",\n\t\t\t\"heading_2\": {\n\t\t\t\t\"rich_text\": [{ \"type\": \"text\", \"text\": { \"content\": \"Lacinato kale\" } }]\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"object\": \"block\",\n\t\t\t\"type\": \"paragraph\",\n\t\t\t\"paragraph\": {\n\t\t\t\t\"rich_text\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\"content\": \"Lacinato kale is a variety of kale with a long tradition in Italian cuisine, especially that of Tuscany. It is also known as Tuscan kale, Italian kale, dinosaur kale, kale, flat back kale, palm tree kale, or black Tuscan palm.\",\n\t\t\t\t\t\t\t\"link\": { \"url\": \"https://en.wikipedia.org/wiki/Lacinato_kale\" }\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t]\n}'"
        samples-languages:
          - javascript
          - curl
components:
  securitySchemes:
    token:
      type: http
      scheme: bearer
  schemas:
    TokenGenerateAccessRequest:
      type: object
      required:
        - code
        - grant_type
        - redirect_uri
      properties:
        code:
          description: >-
            A unique random code that Notion generates to authenticate with your
            service, generated when a user initiates the OAuth flow.
          type: string
        grant_type:
          description: 'A constant string: "authorization_code".'
          type: string
          default: '"authorization_code"'
        redirect_uri:
          description: >-
            The `"redirect_uri"` that was provided in the OAuth Domain & URI
            section of the integration's Authorization settings. Do not include
            this field if a `"redirect_uri"` query param was not included in the
            Authorization URL provided to users. In most cases, this field is
            required.
          type: string
        external_account:
          description: >-
            Required if and only when building [Link
            Preview](https://developers.notion.com/docs/link-previews)
            integrations (otherwise ignored). An object with `key` and `name`
            properties. `key` should be a unique identifier for the account.
            Notion uses the `key` to determine whether or not the user is
            re-connecting the same account. `name` should be some way for the
            user to know which account they used to authenticate with your
            service. If a user has authenticated Notion with your integration
            before and `key` is the same but `name` is different, then Notion
            updates the `name` associated with your integration.
          type: object
          properties: {}
    BlockAppendChildrenRequest:
      type: object
      required:
        - children
      properties:
        children:
          description: >-
            Child content to append to a container block as an array of [block
            objects](ref:block)
          type: array
          items:
            description: >-
              WARNING: Missing items property in array schema. Missing items
              property has been filled with this AnyType schema.
        after:
          description: >-
            The ID of the existing block that the new block should be appended
            after.
          type: string
    BlockUpdateBlockByIdRequest:
      type: object
      properties:
        '{type}':
          description: >-
            The [block object `type`](ref:block#block-object-keys) value with
            the properties to be updated. Currently only `text` (for supported
            block types) and `checked` (for `to_do` blocks) fields can be
            updated.
          type: object
          properties: {}
        archived:
          description: >-
            Set to true to archive (delete) a block. Set to false to un-archive
            (restore) a block.
          type: boolean
          default: true
    PageCreateNewPageRequest:
      type: object
      required:
        - parent
        - properties
      properties:
        parent:
          description: >-
            The parent page or database where the new page is inserted,
            represented as a JSON object with a `page_id` or `database_id` key,
            and the corresponding ID.
          type: string
          format: json
        properties:
          description: >-
            The values of the page’s properties. If the `parent` is a database,
            then the schema must match the parent database’s properties. If the
            `parent` is a page, then the only valid object key is `title`.
          type: string
          format: json
        children:
          description: >-
            The content to be rendered on the new page, represented as an array
            of [block objects](https://developers.notion.com/reference/block).
          type: array
          items:
            type: string
        icon:
          description: >-
            The icon of the new page. Either an [emoji
            object](https://developers.notion.com/reference/emoji-object) or an
            [external file
            object](https://developers.notion.com/reference/file-object)..
          type: string
          format: json
        cover:
          description: >-
            The cover image of the new page, represented as a [file
            object](https://developers.notion.com/reference/file-object).
          type: string
          format: json
    PageUpdatePropertiesRequest:
      type: object
      properties:
        properties:
          description: >-
            The property values to update for the page. The keys are the names
            or IDs of the property and the values are property values. If a page
            property ID is not included, then it is not changed.
          type: string
          format: json
        archived:
          description: >-
            Whether the page is archived (deleted). Set to true to archive a
            page. Set to false to un-archive (restore) a page.
          type: boolean
        icon:
          description: >-
            A page icon for the page. Supported types are [external file
            object](https://developers.notion.com/reference/file-object) or
            [emoji
            object](https://developers.notion.com/reference/emoji-object).
          type: string
          format: json
        cover:
          description: >-
            A cover image for the page. Only [external file
            objects](https://developers.notion.com/reference/file-object) are
            supported.
          type: string
          format: json
    DatabaseCreateNewDatabaseRequest:
      type: object
      required:
        - parent
        - properties
      properties:
        title:
          description: >-
            Title of database as it appears in Notion. An array of [rich text
            objects](ref:rich-text).
          type: array
          items:
            description: >-
              WARNING: Missing items property in array schema. Missing items
              property has been filled with this AnyType schema.
        parent:
          description: A [page parent](/reference/database#page-parent)
          type: string
          format: json
        properties:
          description: >-
            Property schema of database. The keys are the names of properties as
            they appear in Notion and the values are [property schema
            objects](https://developers.notion.com/reference/property-schema-object).
          type: string
          format: json
    DatabaseExecuteQueryRequest:
      type: object
      properties:
        filter:
          description: >-
            When supplied, limits which pages are returned based on the [filter
            conditions](ref:post-database-query-filter).
          type: string
          format: json
        sorts:
          description: >-
            When supplied, orders the results based on the provided [sort
            criteria](ref:post-database-query-sort).
          type: array
          items:
            description: >-
              WARNING: Missing items property in array schema. Missing items
              property has been filled with this AnyType schema.
        start_cursor:
          description: >-
            When supplied, returns a page of results starting after the cursor
            provided. If not supplied, this endpoint will return the first page
            of results.
          type: string
        page_size:
          description: >-
            The number of items from the full list desired in the response.
            Maximum: 100
          type: integer
          default: 100
          format: int32
    DatabaseUpdateDatabaseRequest:
      type: object
      properties:
        title:
          description: >-
            An array of [rich text
            objects](https://developers.notion.com/reference/rich-text) that
            represents the title of the database that is displayed in the Notion
            UI. If omitted, then the database title remains unchanged.
          type: array
          items:
            description: >-
              WARNING: Missing items property in array schema. Missing items
              property has been filled with this AnyType schema.
        description:
          description: >-
            An array of [rich text
            objects](https://developers.notion.com/reference/rich-text) that
            represents the description of the database that is displayed in the
            Notion UI. If omitted, then the database description remains
            unchanged.
          type: array
          items:
            description: >-
              WARNING: Missing items property in array schema. Missing items
              property has been filled with this AnyType schema.
        properties:
          description: >-
            The properties of a database to be changed in the request, in the
            form of a JSON object. If updating an existing property, then the
            keys are the names or IDs of the properties as they appear in
            Notion, and the values are [property schema
            objects](ref:property-schema-object). If adding a new property, then
            the key is the name of the new database property and the value is a
            [property schema object](ref:property-schema-object).
          type: string
          format: json
    CommentCreateNewRequest:
      type: object
      required:
        - rich_text
      properties:
        parent:
          description: >-
            A [page parent](/reference/database#page-parent). Either this or a
            discussion_id is required (not both)
          type: string
          format: json
        discussion_id:
          description: >-
            A UUID identifier for a discussion thread. Either this or a parent
            object is required (not both)
          type: string
        rich_text:
          description: A [rich text object](ref:rich-text)
          type: string
          format: json
    SearchByTitleRequest:
      type: object
      properties:
        query:
          description: The text that the API compares page and database titles against.
          type: string
        sort:
          description: >-
            A set of criteria, `direction` and `timestamp` keys, that orders the
            results. The **only** supported timestamp value is
            `"last_edited_time"`. Supported `direction` values are `"ascending"`
            and `"descending"`. If `sort` is not provided, then the most
            recently edited results are returned first.
          type: object
          properties:
            direction:
              description: >-
                The direction to sort. Possible values include `ascending` and
                `descending`.
              type: string
            timestamp:
              description: >-
                The name of the timestamp to sort against. Possible values
                include `last_edited_time`.
              type: string
        filter:
          description: >-
            A set of criteria, `value` and `property` keys, that limits the
            results to either only pages or only databases. Possible `value`
            values are `"page"` or `"database"`. The only supported `property`
            value is `"object"`.
          type: object
          properties:
            value:
              description: >-
                The value of the property to filter the results by.  Possible
                values for object type include `page` or `database`. 
                **Limitation**: Currently the only filter allowed is `object`
                which will filter by type of object (either `page` or
                `database`)
              type: string
            property:
              description: >-
                The name of the property to filter by. Currently the only
                property you can filter by is the object type.  Possible values
                include `object`.   Limitation: Currently the only filter
                allowed is `object` which will filter by type of object (either
                `page` or `database`)
              type: string
        start_cursor:
          description: >-
            A `cursor` value returned in a previous response that If supplied,
            limits the response to results starting after the `cursor`. If not
            supplied, then the first page of results is returned. Refer to
            [pagination](https://developers.notion.com/reference/intro#pagination)
            for more details.
          type: string
        page_size:
          description: >-
            The number of items from the full list to include in the response.
            Maximum: `100`.
          type: integer
          default: 100
          format: int32
    TokenGenerateAccessResponse:
      type: object
      properties:
        access_token:
          type: string
          example: e202e8c9-0990-40af-855f-ff8f872b1ec6c
        bot_id:
          type: string
          example: b3414d659-1224-5ty7-6ffr-cc9d8773drt601288f
        duplicated_template_id: {}
        owner:
          type: object
          properties:
            workspace:
              type: boolean
              example: true
              default: true
        workspace_icon:
          type: string
          example: https://website.domain/images/image.png
        workspace_id:
          type: string
          example: j565j4d7x3-2882-61bs-564a-jj9d9ui-c36hxfr7x
        workspace_name:
          type: string
          example: Ada's Notion Workspace
    TokenGenerateAccess400Response:
      type: object
      properties:
        error:
          type: string
          example: invalid_request
        error_description:
          type: string
          example: >-
            body failed validation: body.redirect_uri should be defined, instead
            was `undefined`.
    BlockGetChildrenResponse:
      type: object
      properties:
        object:
          type: string
          example: list
        results:
          type: array
          items:
            type: object
            properties:
              object:
                type: string
                example: block
              id:
                type: string
                example: c02fc1d3-db8b-45c5-a222-27595b15aea7
              parent:
                type: object
                properties:
                  type:
                    type: string
                    example: page_id
                  page_id:
                    type: string
                    example: 59833787-2cf9-4fdf-8782-e53db20768a5
              created_time:
                type: string
                example: '2022-03-01T19:05:00.000Z'
              last_edited_time:
                type: string
                example: '2022-03-01T19:05:00.000Z'
              created_by:
                type: object
                properties:
                  object:
                    type: string
                    example: user
                  id:
                    type: string
                    example: ee5f0f84-409a-440f-983a-a5315961c6e4
              last_edited_by:
                type: object
                properties:
                  object:
                    type: string
                    example: user
                  id:
                    type: string
                    example: ee5f0f84-409a-440f-983a-a5315961c6e4
              has_children:
                type: boolean
                example: false
                default: true
              archived:
                type: boolean
                example: false
                default: true
              type:
                type: string
                example: heading_2
              heading_2:
                type: object
                properties:
                  rich_text:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          example: text
                        text:
                          type: object
                          properties:
                            content:
                              type: string
                              example: Lacinato kale
                            link: {}
                        annotations:
                          type: object
                          properties:
                            bold:
                              type: boolean
                              example: false
                              default: true
                            italic:
                              type: boolean
                              example: false
                              default: true
                            strikethrough:
                              type: boolean
                              example: false
                              default: true
                            underline:
                              type: boolean
                              example: false
                              default: true
                            code:
                              type: boolean
                              example: false
                              default: true
                            color:
                              type: string
                              example: default
                        plain_text:
                          type: string
                          example: Lacinato kale
                        href: {}
                  color:
                    type: string
                    example: default
                  is_toggleable:
                    type: boolean
                    example: false
                    default: true
        next_cursor: {}
        has_more:
          type: boolean
          example: false
          default: true
        type:
          type: string
          example: block
        block:
          type: object
          properties: {}
    BlockGetChildren400Response:
      type: object
      properties: {}
    BlockAppendChildrenResponse:
      type: object
      properties:
        object:
          type: string
          example: list
        results:
          type: array
          items:
            type: object
            properties:
              object:
                type: string
                example: block
              id:
                type: string
                example: c02fc1d3-db8b-45c5-a222-27595b15aea7
              parent:
                type: object
                properties:
                  type:
                    type: string
                    example: page_id
                  page_id:
                    type: string
                    example: 59833787-2cf9-4fdf-8782-e53db20768a5
              created_time:
                type: string
                example: '2022-03-01T19:05:00.000Z'
              last_edited_time:
                type: string
                example: '2022-07-06T19:41:00.000Z'
              created_by:
                type: object
                properties:
                  object:
                    type: string
                    example: user
                  id:
                    type: string
                    example: ee5f0f84-409a-440f-983a-a5315961c6e4
              last_edited_by:
                type: object
                properties:
                  object:
                    type: string
                    example: user
                  id:
                    type: string
                    example: ee5f0f84-409a-440f-983a-a5315961c6e4
              has_children:
                type: boolean
                example: false
                default: true
              archived:
                type: boolean
                example: false
                default: true
              type:
                type: string
                example: heading_2
              heading_2:
                type: object
                properties:
                  rich_text:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          example: text
                        text:
                          type: object
                          properties:
                            content:
                              type: string
                              example: Lacinato kale
                            link: {}
                        annotations:
                          type: object
                          properties:
                            bold:
                              type: boolean
                              example: false
                              default: true
                            italic:
                              type: boolean
                              example: false
                              default: true
                            strikethrough:
                              type: boolean
                              example: false
                              default: true
                            underline:
                              type: boolean
                              example: false
                              default: true
                            code:
                              type: boolean
                              example: false
                              default: true
                            color:
                              type: string
                              example: default
                        plain_text:
                          type: string
                          example: Lacinato kale
                        href: {}
                  color:
                    type: string
                    example: default
                  is_toggleable:
                    type: boolean
                    example: false
                    default: true
        next_cursor: {}
        has_more:
          type: boolean
          example: false
          default: true
        type:
          type: string
          example: block
        block:
          type: object
          properties: {}
    BlockAppendChildren400Response:
      type: object
      properties: {}
    BlockRemoveBlockByIdResponse:
      type: object
      properties:
        object:
          type: string
          example: block
        id:
          type: string
          example: 7985540b-2e77-4ac6-8615-c3047e36f872
        parent:
          type: object
          properties:
            type:
              type: string
              example: page_id
            page_id:
              type: string
              example: 59833787-2cf9-4fdf-8782-e53db20768a5
        created_time:
          type: string
          example: '2022-07-06T19:52:00.000Z'
        last_edited_time:
          type: string
          example: '2022-07-06T19:52:00.000Z'
        created_by:
          type: object
          properties:
            object:
              type: string
              example: user
            id:
              type: string
              example: 0c3e9826-b8f7-4f73-927d-2caaf86f1103
        last_edited_by:
          type: object
          properties:
            object:
              type: string
              example: user
            id:
              type: string
              example: ee5f0f84-409a-440f-983a-a5315961c6e4
        has_children:
          type: boolean
          example: false
          default: true
        archived:
          type: boolean
          example: true
          default: true
        type:
          type: string
          example: paragraph
        paragraph:
          type: object
          properties:
            rich_text:
              type: array
              items:
                description: >-
                  WARNING: Missing items property in array schema. Missing items
                  property has been filled with this AnyType schema.
            color:
              type: string
              example: default
    BlockRemoveBlockById400Response:
      type: object
      properties: {}
    BlockGetDetailsResponse:
      type: object
      properties:
        object:
          type: string
          example: block
        id:
          type: string
          example: c02fc1d3-db8b-45c5-a222-27595b15aea7
        parent:
          type: object
          properties:
            type:
              type: string
              example: page_id
            page_id:
              type: string
              example: 59833787-2cf9-4fdf-8782-e53db20768a5
        created_time:
          type: string
          example: '2022-03-01T19:05:00.000Z'
        last_edited_time:
          type: string
          example: '2022-03-01T19:05:00.000Z'
        created_by:
          type: object
          properties:
            object:
              type: string
              example: user
            id:
              type: string
              example: ee5f0f84-409a-440f-983a-a5315961c6e4
        last_edited_by:
          type: object
          properties:
            object:
              type: string
              example: user
            id:
              type: string
              example: ee5f0f84-409a-440f-983a-a5315961c6e4
        has_children:
          type: boolean
          example: false
          default: true
        archived:
          type: boolean
          example: false
          default: true
        type:
          type: string
          example: heading_2
        heading_2:
          type: object
          properties:
            rich_text:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: string
                    example: text
                  text:
                    type: object
                    properties:
                      content:
                        type: string
                        example: Lacinato kale
                      link: {}
                  annotations:
                    type: object
                    properties:
                      bold:
                        type: boolean
                        example: false
                        default: true
                      italic:
                        type: boolean
                        example: false
                        default: true
                      strikethrough:
                        type: boolean
                        example: false
                        default: true
                      underline:
                        type: boolean
                        example: false
                        default: true
                      code:
                        type: boolean
                        example: false
                        default: true
                      color:
                        type: string
                        example: default
                  plain_text:
                    type: string
                    example: Lacinato kale
                  href: {}
            color:
              type: string
              example: default
            is_toggleable:
              type: boolean
              example: false
              default: true
    BlockGetDetails400Response:
      type: object
      properties: {}
    BlockUpdateBlockByIdResponse:
      type: object
      properties:
        object:
          type: string
          example: block
        id:
          type: string
          example: c02fc1d3-db8b-45c5-a222-27595b15aea7
        parent:
          type: object
          properties:
            type:
              type: string
              example: page_id
            page_id:
              type: string
              example: 59833787-2cf9-4fdf-8782-e53db20768a5
        created_time:
          type: string
          example: '2022-03-01T19:05:00.000Z'
        last_edited_time:
          type: string
          example: '2022-07-06T19:41:00.000Z'
        created_by:
          type: object
          properties:
            object:
              type: string
              example: user
            id:
              type: string
              example: ee5f0f84-409a-440f-983a-a5315961c6e4
        last_edited_by:
          type: object
          properties:
            object:
              type: string
              example: user
            id:
              type: string
              example: ee5f0f84-409a-440f-983a-a5315961c6e4
        has_children:
          type: boolean
          example: false
          default: true
        archived:
          type: boolean
          example: false
          default: true
        type:
          type: string
          example: heading_2
        heading_2:
          type: object
          properties:
            rich_text:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: string
                    example: text
                  text:
                    type: object
                    properties:
                      content:
                        type: string
                        example: Lacinato kale
                      link: {}
                  annotations:
                    type: object
                    properties:
                      bold:
                        type: boolean
                        example: false
                        default: true
                      italic:
                        type: boolean
                        example: false
                        default: true
                      strikethrough:
                        type: boolean
                        example: false
                        default: true
                      underline:
                        type: boolean
                        example: false
                        default: true
                      code:
                        type: boolean
                        example: false
                        default: true
                      color:
                        type: string
                        example: green
                  plain_text:
                    type: string
                    example: Lacinato kale
                  href: {}
            color:
              type: string
              example: default
            is_toggleable:
              type: boolean
              example: false
              default: true
    BlockUpdateBlockById400Response:
      type: object
      properties: {}
    PageCreateNewPageResponse:
      type: object
      properties:
        object:
          type: string
          example: page
        id:
          type: string
          example: 59833787-2cf9-4fdf-8782-e53db20768a5
        created_time:
          type: string
          example: '2022-03-01T19:05:00.000Z'
        last_edited_time:
          type: string
          example: '2022-07-06T19:16:00.000Z'
        created_by:
          type: object
          properties:
            object:
              type: string
              example: user
            id:
              type: string
              example: ee5f0f84-409a-440f-983a-a5315961c6e4
        last_edited_by:
          type: object
          properties:
            object:
              type: string
              example: user
            id:
              type: string
              example: ee5f0f84-409a-440f-983a-a5315961c6e4
        cover:
          type: object
          properties:
            type:
              type: string
              example: external
            external:
              type: object
              properties:
                url:
                  type: string
                  example: >-
                    https://upload.wikimedia.org/wikipedia/commons/6/62/Tuscankale.jpg
        icon:
          type: object
          properties:
            type:
              type: string
              example: emoji
            emoji:
              type: string
              example: 🥬
        parent:
          type: object
          properties:
            type:
              type: string
              example: database_id
            database_id:
              type: string
              example: d9824bdc-8445-4327-be8b-5b47500af6ce
        archived:
          type: boolean
          example: false
          default: true
        properties:
          type: object
          properties:
            Store availability:
              type: object
              properties:
                id:
                  type: string
                  example: '%3AUPp'
            Food group:
              type: object
              properties:
                id:
                  type: string
                  example: A%40Hk
            Price:
              type: object
              properties:
                id:
                  type: string
                  example: BJXS
            Responsible Person:
              type: object
              properties:
                id:
                  type: string
                  example: Iowm
            Last ordered:
              type: object
              properties:
                id:
                  type: string
                  example: Jsfb
            Cost of next trip:
              type: object
              properties:
                id:
                  type: string
                  example: WOd%3B
            Recipes:
              type: object
              properties:
                id:
                  type: string
                  example: YfIu
            Description:
              type: object
              properties:
                id:
                  type: string
                  example: _Tc_
            In stock:
              type: object
              properties:
                id:
                  type: string
                  example: '%60%5Bq%3F'
            Number of meals:
              type: object
              properties:
                id:
                  type: string
                  example: zag~
            Photo:
              type: object
              properties:
                id:
                  type: string
                  example: '%7DF_L'
            Name:
              type: object
              properties:
                id:
                  type: string
                  example: title
        url:
          type: string
          example: https://www.notion.so/Tuscan-Kale-598337872cf94fdf8782e53db20768a5
    PageCreateNewPage400Response:
      type: object
      properties: {}
    PageCreateNewPage404Response:
      type: object
      properties:
        object:
          type: string
          example: error
        status:
          type: integer
          example: 404
          default: 0
        code:
          type: string
          example: object_not_found
        message:
          type: string
          example: >-
            Could not find page with ID: 4cc3b486-0b48-4cfe-8ce9-67c47100eb6a.
            Make sure the relevant pages and databases are shared with your
            integration.
    PageCreateNewPage429Response:
      type: object
      properties:
        object:
          type: string
          example: error
        status:
          type: integer
          example: 429
          default: 0
        code:
          type: string
          example: rate_limited
        message:
          type: string
          example: You have been rate limited. Please try again in a few minutes.
    PageGetPageResponse:
      type: object
      properties:
        object:
          type: string
          example: page
        id:
          type: string
          example: 59833787-2cf9-4fdf-8782-e53db20768a5
        created_time:
          type: string
          example: '2022-03-01T19:05:00.000Z'
        last_edited_time:
          type: string
          example: '2022-07-06T20:25:00.000Z'
        created_by:
          type: object
          properties:
            object:
              type: string
              example: user
            id:
              type: string
              example: ee5f0f84-409a-440f-983a-a5315961c6e4
        last_edited_by:
          type: object
          properties:
            object:
              type: string
              example: user
            id:
              type: string
              example: 0c3e9826-b8f7-4f73-927d-2caaf86f1103
        cover:
          type: object
          properties:
            type:
              type: string
              example: external
            external:
              type: object
              properties:
                url:
                  type: string
                  example: >-
                    https://upload.wikimedia.org/wikipedia/commons/6/62/Tuscankale.jpg
        icon:
          type: object
          properties:
            type:
              type: string
              example: emoji
            emoji:
              type: string
              example: 🥬
        parent:
          type: object
          properties:
            type:
              type: string
              example: database_id
            database_id:
              type: string
              example: d9824bdc-8445-4327-be8b-5b47500af6ce
        archived:
          type: boolean
          example: false
          default: true
        properties:
          type: object
          properties:
            Store availability:
              type: object
              properties:
                id:
                  type: string
                  example: '%3AUPp'
                type:
                  type: string
                  example: multi_select
                multi_select:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: t|O@
                      name:
                        type: string
                        example: Gus's Community Market
                      color:
                        type: string
                        example: yellow
            Food group:
              type: object
              properties:
                id:
                  type: string
                  example: A%40Hk
                type:
                  type: string
                  example: select
                select:
                  type: object
                  properties:
                    id:
                      type: string
                      example: 5e8e7e8f-432e-4d8a-8166-1821e10225fc
                    name:
                      type: string
                      example: 🥬 Vegetable
                    color:
                      type: string
                      example: pink
            Price:
              type: object
              properties:
                id:
                  type: string
                  example: BJXS
                type:
                  type: string
                  example: number
                number:
                  type: number
                  example: 2.5
                  default: 0
            Responsible Person:
              type: object
              properties:
                id:
                  type: string
                  example: Iowm
                type:
                  type: string
                  example: people
                people:
                  type: array
                  items:
                    type: object
                    properties:
                      object:
                        type: string
                        example: user
                      id:
                        type: string
                        example: cbfe3c6e-71cf-4cd3-b6e7-02f38f371bcc
                      name:
                        type: string
                        example: Cristina Cordova
                      avatar_url:
                        type: string
                        example: >-
                          https://lh6.googleusercontent.com/-rapvfCoTq5A/AAAAAAAAAAI/AAAAAAAAAAA/AKF05nDKmmUpkpFvWNBzvu9rnZEy7cbl8Q/photo.jpg
                      type:
                        type: string
                        example: person
                      person:
                        type: object
                        properties:
                          email:
                            type: string
                            example: cristina@makenotion.com
            Last ordered:
              type: object
              properties:
                id:
                  type: string
                  example: Jsfb
                type:
                  type: string
                  example: date
                date:
                  type: object
                  properties:
                    start:
                      type: string
                      example: '2022-02-22'
                    end: {}
                    time_zone: {}
            Cost of next trip:
              type: object
              properties:
                id:
                  type: string
                  example: WOd%3B
                type:
                  type: string
                  example: formula
                formula:
                  type: object
                  properties:
                    type:
                      type: string
                      example: number
                    number:
                      type: integer
                      example: 0
                      default: 0
            Recipes:
              type: object
              properties:
                id:
                  type: string
                  example: YfIu
                type:
                  type: string
                  example: relation
                relation:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 90eeeed8-2cdd-4af4-9cc1-3d24aff5f63c
                has_more:
                  type: boolean
                  example: false
                  default: true
            Description:
              type: object
              properties:
                id:
                  type: string
                  example: _Tc_
                type:
                  type: string
                  example: rich_text
                rich_text:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        example: text
                      text:
                        type: object
                        properties:
                          content:
                            type: string
                            example: 'A dark '
                          link: {}
                      annotations:
                        type: object
                        properties:
                          bold:
                            type: boolean
                            example: false
                            default: true
                          italic:
                            type: boolean
                            example: false
                            default: true
                          strikethrough:
                            type: boolean
                            example: false
                            default: true
                          underline:
                            type: boolean
                            example: false
                            default: true
                          code:
                            type: boolean
                            example: false
                            default: true
                          color:
                            type: string
                            example: default
                      plain_text:
                        type: string
                        example: 'A dark '
                      href: {}
            In stock:
              type: object
              properties:
                id:
                  type: string
                  example: '%60%5Bq%3F'
                type:
                  type: string
                  example: checkbox
                checkbox:
                  type: boolean
                  example: true
                  default: true
            Number of meals:
              type: object
              properties:
                id:
                  type: string
                  example: zag~
                type:
                  type: string
                  example: rollup
                rollup:
                  type: object
                  properties:
                    type:
                      type: string
                      example: number
                    number:
                      type: integer
                      example: 2
                      default: 0
                    function:
                      type: string
                      example: count
            Photo:
              type: object
              properties:
                id:
                  type: string
                  example: '%7DF_L'
                type:
                  type: string
                  example: url
                url:
                  type: string
                  example: >-
                    https://i.insider.com/612fb23c9ef1e50018f93198?width=1136&format=jpeg
            Name:
              type: object
              properties:
                title:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        example: text
                      text:
                        type: object
                        properties:
                          content:
                            type: string
                            example: Tuscan kale
                          link: {}
                      annotations:
                        type: object
                        properties:
                          bold:
                            type: boolean
                            example: false
                            default: true
                          italic:
                            type: boolean
                            example: false
                            default: true
                          strikethrough:
                            type: boolean
                            example: false
                            default: true
                          underline:
                            type: boolean
                            example: false
                            default: true
                          code:
                            type: boolean
                            example: false
                            default: true
                          color:
                            type: string
                            example: default
                      plain_text:
                        type: string
                        example: Tuscan kale
                      href: {}
                id:
                  type: string
                  example: title
                type:
                  type: string
                  example: title
        url:
          type: string
          example: https://www.notion.so/Tuscan-kale-598337872cf94fdf8782e53db20768a5
        public_url: {}
    PageGetPage400Response:
      type: object
      properties: {}
    PageUpdatePropertiesResponse:
      type: object
      properties:
        object:
          type: string
          example: page
        id:
          type: string
          example: 59833787-2cf9-4fdf-8782-e53db20768a5
        created_time:
          type: string
          example: '2022-03-01T19:05:00.000Z'
        last_edited_time:
          type: string
          example: '2022-07-06T19:16:00.000Z'
        created_by:
          type: object
          properties:
            object:
              type: string
              example: user
            id:
              type: string
              example: ee5f0f84-409a-440f-983a-a5315961c6e4
        last_edited_by:
          type: object
          properties:
            object:
              type: string
              example: user
            id:
              type: string
              example: ee5f0f84-409a-440f-983a-a5315961c6e4
        cover:
          type: object
          properties:
            type:
              type: string
              example: external
            external:
              type: object
              properties:
                url:
                  type: string
                  example: >-
                    https://upload.wikimedia.org/wikipedia/commons/6/62/Tuscankale.jpg
        icon:
          type: object
          properties:
            type:
              type: string
              example: emoji
            emoji:
              type: string
              example: 🥬
        parent:
          type: object
          properties:
            type:
              type: string
              example: database_id
            database_id:
              type: string
              example: d9824bdc-8445-4327-be8b-5b47500af6ce
        archived:
          type: boolean
          example: false
          default: true
        properties:
          type: object
          properties:
            Store availability:
              type: object
              properties:
                id:
                  type: string
                  example: '%3AUPp'
            Food group:
              type: object
              properties:
                id:
                  type: string
                  example: A%40Hk
            Price:
              type: object
              properties:
                id:
                  type: string
                  example: BJXS
            Responsible Person:
              type: object
              properties:
                id:
                  type: string
                  example: Iowm
            Last ordered:
              type: object
              properties:
                id:
                  type: string
                  example: Jsfb
            Cost of next trip:
              type: object
              properties:
                id:
                  type: string
                  example: WOd%3B
            Recipes:
              type: object
              properties:
                id:
                  type: string
                  example: YfIu
            Description:
              type: object
              properties:
                id:
                  type: string
                  example: _Tc_
            In stock:
              type: object
              properties:
                id:
                  type: string
                  example: '%60%5Bq%3F'
            Number of meals:
              type: object
              properties:
                id:
                  type: string
                  example: zag~
            Photo:
              type: object
              properties:
                id:
                  type: string
                  example: '%7DF_L'
            Name:
              type: object
              properties:
                id:
                  type: string
                  example: title
        url:
          type: string
          example: https://www.notion.so/Tuscan-Kale-598337872cf94fdf8782e53db20768a5
    PageUpdateProperties400Response:
      type: object
      properties: {}
    PageUpdateProperties404Response:
      type: object
      properties:
        object:
          type: string
          example: error
        status:
          type: integer
          example: 404
          default: 0
        code:
          type: string
          example: object_not_found
        message:
          type: string
          example: >-
            Could not find page with ID: 4cc3b486-0b48-4cfe-8ce9-67c47100eb6a.
            Make sure the relevant pages and databases are shared with your
            integration.
    PageUpdateProperties429Response:
      type: object
      properties:
        object:
          type: string
          example: error
        status:
          type: integer
          example: 429
          default: 0
        code:
          type: string
          example: rate_limited
        message:
          type: string
          example: You have been rate limited. Please try again in a few minutes.
    PageGetPropertyItemResponse:
      type: string
      example: |-
        {
          "object": "property_item",
          "id" "kjPO",
          "type": "number",
          "number": 2
        }
    DatabaseCreateNewDatabaseResponse:
      type: string
      example: |-
        {
            "object": "database",
            "id": "bc1211ca-e3f1-4939-ae34-5260b16f627c",
            "created_time": "2021-07-08T23:50:00.000Z",
            "last_edited_time": "2021-07-08T23:50:00.000Z",
            "icon": {
                "type": "emoji",
                "emoji": "🎉"
            },
            "cover": {
                "type": "external",
                "external": {
                    "url": "https://website.domain/images/image.png"
                }
            },
            "url": "https://www.notion.so/bc1211cae3f14939ae34260b16f627c",
            "title": [
                {
                    "type": "text",
                    "text": {
                        "content": "Grocery List",
                        "link": null
                    },
                    "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                    },
                    "plain_text": "Grocery List",
                    "href": null
                }
            ],
            "properties": {
                "+1": {
                    "id": "Wp%3DC",
                    "name": "+1",
                    "type": "people",
                    "people": {}
                },
                "In stock": {
                    "id": "fk%5EY",
                    "name": "In stock",
                    "type": "checkbox",
                    "checkbox": {}
                },
                "Price": {
                    "id": "evWq",
                    "name": "Price",
                    "type": "number",
                    "number": {
                        "format": "dollar"
                    }
                },
                "Description": {
                    "id": "V}lX",
                    "name": "Description",
                    "type": "rich_text",
                    "rich_text": {}
                },
                "Last ordered": {
                    "id": "eVnV",
                    "name": "Last ordered",
                    "type": "date",
                    "date": {}
                },
                "Meals": {
                    "id": "%7DWA~",
                    "name": "Meals",
                    "type": "relation",
                    "relation": {
                        "database_id": "668d797c-76fa-4934-9b05-ad288df2d136",
                        "single_property": {}
                    }
                },
                "Number of meals": {
                    "id": "Z\\Eh",
                    "name": "Number of meals",
                    "type": "rollup",
                    "rollup": {
                        "rollup_property_name": "Name",
                        "relation_property_name": "Meals",
                        "rollup_property_id": "title",
                        "relation_property_id": "mxp^",
                        "function": "count"
                    }
                },
                "Store availability": {
                    "id": "s}Kq",
                    "name": "Store availability",
                    "type": "multi_select",
                    "multi_select": {
                        "options": [
                            {
                                "id": "cb79b393-d1c1-4528-b517-c450859de766",
                                "name": "Duc Loi Market",
                                "color": "blue"
                            },
                            {
                                "id": "58aae162-75d4-403b-a793-3bc7308e4cd2",
                                "name": "Rainbow Grocery",
                                "color": "gray"
                            },
                            {
                                "id": "22d0f199-babc-44ff-bd80-a9eae3e3fcbf",
                                "name": "Nijiya Market",
                                "color": "purple"
                            },
                            {
                                "id": "0d069987-ffb0-4347-bde2-8e4068003dbc",
                                "name": "Gus's Community Market",
                                "color": "yellow"
                            }
                        ]
                    }
                },
                "Photo": {
                    "id": "yfiK",
                    "name": "Photo",
                    "type": "files",
                    "files": {}
                },
                "Food group": {
                    "id": "CM%3EH",
                    "name": "Food group",
                    "type": "select",
                    "select": {
                        "options": [
                            {
                                "id": "6d4523fa-88cb-4ffd-9364-1e39d0f4e566",
                                "name": "🥦Vegetable",
                                "color": "green"
                            },
                            {
                                "id": "268d7e75-de8f-4c4b-8b9d-de0f97021833",
                                "name": "🍎Fruit",
                                "color": "red"
                            },
                            {
                                "id": "1b234a00-dc97-489c-b987-829264cfdfef",
                                "name": "💪Protein",
                                "color": "yellow"
                            }
                        ]
                    }
                },
                "Name": {
                    "id": "title",
                    "name": "Name",
                    "type": "title",
                    "title": {}
                }
            },
            "parent": {
                "type": "page_id",
                "page_id": "98ad959b-2b6a-4774-80ee-00246fb0ea9b"
            },
            "archived": false
        }{
            "object": "database",
            "id": "bc1211ca-e3f1-4939-ae34-5260b16f627c",
            "created_time": "2021-07-08T23:50:00.000Z",
            "last_edited_time": "2021-07-08T23:50:00.000Z",
            "icon": {
                "type": "emoji",
                "emoji": "🎉"
            },
            "cover": {
                "type": "external",
                "external": {
                    "url": "https://website.domain/images/image.png"
                }
            },
            "url": "https://www.notion.so/bc1211cae3f14939ae34260b16f627c",
            "title": [
                {
                    "type": "text",
                    "text": {
                        "content": "Grocery List",
                        "link": null
                    },
                    "annotations": {
                        "bold": false,
[...]
